/* Existing styles */
:root {
    --primary-color: #222831;
    --secondary-color: #31363F;
    --accent-color: #76ABAE;
    --text-color: #EEEEEE;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow-x: hidden;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* New styles for file upload section */
.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.drop-area {
    border: 2px dashed var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: margin-top 0.3s ease;
    margin-top: 50px;
}

.drop-area h2 {
    margin-top: 0;
}

.drop-area p {
    margin-top: -10px;
    margin-bottom: -10px;
}

.custom-file-upload {
    display: block;
    margin: 20px auto; /* Center the file upload button */
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 4px;
    width: 150px;
}

input[type="file"] {
    display: none;
}

.hidden {
    display: none;
}

#imagePreview {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: 1;
}

#preview {
    max-width: 100%;
    max-height: 300px;
}

/* CSS for the message box */
.message-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    width: 300px; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
