@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@media (max-width: 1800px) {
    .contact-stack-1 {
        flex-direction: column;
    }
    
    .contact-stack-2 {
        flex-direction: column;
    }
    
}

@media (max-width: 1650px) {
    .left-section {
        flex-direction: column !important;
        gap: 40px;
    }
    
    .right-section {
        flex-direction: column !important;
        gap: 40px;
    }
}

@media (max-width: 1080px) {
    .header button {
        font-size: 10px;
    }
    
    .info .card-items {
        gap: 5px !important;
    }

    .header h1 {
        font-size: 16px !important;
        padding-right: 60px;
    }
}

:root {
    --primary-color: #222831;
    --secondary-color: #31363F;
    --accent-color: #76ABAE;
    --text-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}


.header {
    position: sticky;
    background-color: var(--primary-color);
    top: 0;
    z-index: 1001;
    display: flex;
    padding: 20px 50px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
    gap: 40px;
}

.header li {
    list-style: none;
}

.header .menu {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.header .menu:hover {
    color: var(--accent-color);
}

.header .contact-button {
    text-decoration: none;
    color: var(--primary-color);
}

.header h1 {
    color: var(--text-color);
}

.header span {
    color: var(--accent-color);
}

.header button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);;
}

.header button:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.main {
    text-align: center;
    margin-top: 50px;
}

.footer {
    position: static;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    margin: 0 50px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.footer .footer-item {
    font-size: 14px;
    color: var(--text-color);
}

.team-section {
    display: flex;
    margin: 100px 50px;
    flex-direction: column;
    gap: 50px;

}

.team-stack {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.team-section .left-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.team-section .right-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.team-section .card .card-photo img {
    width: 100px;
    border-radius: 50%;
}

.team-section .card {
    background-color: var(--secondary-color);
    width: 500px;
    padding: 40px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.team-section .card:hover {
    background-color: #444b57;
}

.team-section .card .card-info {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-section .card .card-info h1 {
    font-size: 42px;
    margin-bottom: -25px;
}

.team-section .card .card-info h3 {
    font-size: 32px;
}

.team-section .card .card-info h5 {
    color: var(--accent-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.team-section .team-title {
    font-size: 42px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.info {
    display: flex;
    flex-direction: column;
}

.info .info-title {
    display: flex;
    justify-content: center;
    font-size: 42px;
    padding: 40px;
    color: var(--text-color);
}

.info .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 0 50px;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info .card .card-info-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.info .card-tehnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    margin: 0 50px;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info .card-tehnologies h3 {
    display: flex;
    align-items: center;
    font-size: 36px;
    color: var(--accent-color);
}

.info .card-tehnologies p {
    color: var(--text-color);
}

.info .card h3 {
    display: flex;
    align-items: center;
    font-size: 36px;
    color: var(--accent-color);
}

.info .card p {
    color: var(--text-color);
}

.info-content {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.info-content-tehnologies {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.info-content-tehnologies i {
    font-size: 42px;
    color: var(--text-color);
    background-color: var(--accent-color);
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.info-content-tehnologies p {
    font-size: 18px;
    color: var(--text-color);
}

.info-content-tehnologies i:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.info-content i {
    font-size: 42px;
    color: var(--text-color);
    background-color: var(--accent-color);
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.info-content i:hover {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.info .card-items {
    display: flex;
    gap: 25px;
}

.card-tehnologies .card-title {
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 50px;
}

.contact-stack {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-stack-1 {
    display: flex;
    gap: 30px;
}

.contact-stack-2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 15px;
    width: 550px;
    transition: all 0.3s ease;
}

.contact-right-item h3 {
    color: var(--accent-color);
}

.contact-right-item p {
    color: var(--text-color);
}


.contact-item:hover {
    background-color: #444b57;
}

.contact-right-item {
    padding: 0 20px;
}

.contact-title {
    display: flex;
    color: var(--text-color);
    font-size: 42px;
    padding: 40px;
    margin-bottom: 40px;
}

.contact-left-item img {
    height: 80px;
    border-radius: 50%;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 150px;
    margin-bottom: -150px;
}

.drop-area {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.drop-area h2 {
    margin-top: 0;
}

.drop-area p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-file-upload {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 15px;
    width: 150px;
    transition: all 0.3s ease;
}

.custom-file-upload:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

input[type="file"] {
    display: none;
}

.hidden {
    display: none;
}

#imagePreview {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: 1;
}

#imagePreview img {
    max-width: 100%;
    max-height: 200px;
}

#generate-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#generate-button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.message-box {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.chat-box {
    background-color: var(--secondary-color);
    color: var(--text-color);
    height: 80px;
    padding: 10px;
    margin: 0 40px;
    margin-top: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-content {
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: auto; 
}

.message-input {
    width: calc(100%);
    height: 60px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-top: -10px;
    font-size: 16px;
    resize: none;
}

.show-chat {
    max-height: calc(100vh - 420px);
    overflow-y: auto;
}

.reset-button i {
    font-size: 36px;
    padding: 8px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.reset-button i:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}